<div class="sidebar">
    <div class="box auth">
  
  
      <form method="post" class="login">
        <h2>Вхід</h2>
        <div class="form-group">
          <label for="login-login">Логін</label>
          <input type="text" id="login-login" name="login" />
        </div>
        <div class="form-group">
          <label for="login-password">Пароль</label>
          <input type="password" id="login-password" name="password" />
        </div>
        <div class="buttons">
          <button class="switch-button secondary-inverse">Регістрація</button>
          <button class="login-button">Вхід</button>
        </div>
      </form>
  
      <form method="post" class="register">
        <h2>Регістрація</h2>
        <div class="form-group">
          <label for="register-login">Логін</label>
          <input type="text" id="register-login" name="login" />
        </div>
        <div class="form-group">
          <label for="register-password">Пароль</label>
          <input type="password" id="register-password" name="password" />
        </div>
        <div class="form-group">
          <label for="register-password-confirm">Повторіть пароль</label>
          <input type="password" id="register-password-confirm" name="passwordConfirm" />
        </div>
        <div class="buttons">
          <button class="switch-button secondary-inverse">Вхід</button>
          <button class="login-button">Регістрація</button>
        </div>
      </form>
  
    </div>
    <div class="box">box2</div>
  </div>